/*** Begin: General CSS ***/
*
{
  margin: 0;
  padding: 0;
}

body
{
  font-size: 76%; /* This supposedly gets roughly the most consistent results on different browsers */
  font-family: sans-serif;
}

a img
{
  border: none;
}
/*** End: General CSS ***/

/*** Begin: General Navigation ***/
#general
{
  list-style: none;
  background: #2E3436 url(/wgo/images/general_bg.png) 0 100% repeat-x;
  text-align: right;
  padding: 0 1ex;
  height: 30px;
  overflow: hidden; /* Float containment */
}

#general li /* For non-home links, <li> is display: inline; with text-align: right on the <ul>. */
{
  display: inline;
  background: url(/wgo/images/general_separator.png) 0 0 no-repeat;
}

#general li a
{
  font-weight: bold;
  color: #FFFFFF;
  margin: 0 2ex;
  text-decoration: none;
  line-height: 30px;
}

#general li a:hover
{
  text-decoration: underline;
}

#general .home /* The home link is specifically floated left */
{
  float: left;
  background: url(/wgo/images/general_separator.png) 100% 0 no-repeat;
}

#general .home a
{
  float: left; /* This is necessary for the foot not to be cut off */
  background: url(/wgo/images/foot.png) 7px 50% no-repeat;
  margin-left: 0;
  padding-left: 27px;
}
/*** End: General Navigation ***/

/*** Begin: Header ***/
#header
{
  background: #729FCF url(/wgo/images/logo.png) 3ex 24% no-repeat;
  overflow: auto;
}

h1
{
  text-indent: -9999px;
  overflow: hidden;
  /* This is far from an ideal solution (the images/CSS on case fails, and screen readers probably skip this */
  display: none;
}

#tabs
{
  background: url(/wgo/images/bar.png) 0 100% repeat-x; /* 2px #CCCCCC bottom border of the tab bar */
  width: 100%;
  float: left;
}

#portal-globalnav
{
  float: right;
  list-style: none;
  margin-right: 3ex;
}

#portal-globalnav li
{
  float: left;
  margin-left: 0.5ex;
}

#portal-globalnav li a /* Based off of http://alistapart.com/articles/slidingdoors2/ */
{
  float: left;
  text-decoration: none;
  color: #555555;
  background: url(/wgo/images/tab_left.png) 0 0 no-repeat;
  padding: 2px 0 2px 9px;
  border-bottom: 2px solid #CCCCCC;
}

#portal-globalnav li a:hover
{
  color: #111111;
}

#portal-globalnav li span
{
  background: url(/wgo/images/tab_right.png) 100% 0 no-repeat;
  padding: 2px 17px 2px 4px;
}

.home #nav-home a, .tour #nav-tour a, .products #nav-products a, .stories #nav-stories a, .getstarted #nav-getstarted a, .getinvolved #nav-getinvolved a, .about #nav-about a /* This is to highlight the tab based on the current page.  I suggest this over the <li id="current"> because the body classes allow me to make other page-specific tweaks (which will be particularly handy for the home page). */
{
  color: #3566A5;
  background: url(/wgo/images/tab_selected_left.png) 0 0 no-repeat;
  border-bottom: none;
  padding-top: 5px;
  padding-bottom: 2px;
}

.home #nav-home a span, .tour #nav-tour a span, .products #nav-products a span, .stories #nav-stories a span, .getstarted #nav-getstarted a span, .getinvolved #nav-getinvolved a span, .about #nav-about a span /* I used a <span> inside the <a> so that an IE6-supported hover effect could be added later on */
{
  background: url(/wgo/images/tab_selected_right.png) 100% 0 no-repeat;
  padding-top: 5px;
  padding-bottom: 2px;
}

#portal-secondnav
{
  background: url(/wgo/images/secondary_bg.png) 0 0 repeat-x;
  padding: 0.25ex 3ex;
  border-bottom: 1px solid #CCCCCC;
  list-style: none;
  clear: both;
}

#portal-secondnav li
{
  display: inline;
  border-right: 1px solid #CCCCCC;
}

#portal-secondnav li.first
{
  border-left: 1px solid #CCCCCC;
}

#portal-secondnav li a
{
  text-decoration: none;
  color: #335588;
  margin: 0 3ex;
}

#portal-secondnav li a:hover
{
  color: #000000;
}

#control
{
  text-align: right;
  position: relative;
  float: right;
  margin: 1ex 0 1.5ex;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

#control div
{
  display: inline;
  padding-left: 1.5ex;
}

#control form
{
  display: inline;
}

#control #language
{
  border-right: 1px solid #CCCCCC;
  padding-right: 1.5ex;
}

#control #language input
{
  vertical-align: middle;
}

#control #language select
{
  width: 15ex;
}

#control #search
{
  margin-right: 2ex;
}

#control #search input
{
  border: 1px solid #888888;
}
/*** End: Header ***/

/*** Begin: Main section ***/
/* Two column layout based on http://positioniseverything.net/articles/onetruelayout/ */
#page /* This additional wrapper is to add space on the sides of the two columns (this might not be necessary- this is my first time using the One True Layout, so I'm not familar with other methods */
{
  background: url(/wgo/images/main_bg.png) 0 0 repeat-x;
  padding: 3ex 12ex;
  /* This might be for IE6- I forgot exactly why I added this. */
  overflow: hidden;
  height: 1%;
}

#main
{
  padding-right: 185px;
}

#content
{
  float: left;
  width: 100%;
  color: #555555;
}

#content h2
{
  margin-top: 0.75ex;
}

#content ul
{
  margin: 0 3.5ex;
  list-style: square;
}

#sidebar
{
  float: left;
  width: 160px;
  margin-right: -185px; /* 160px + 25px = 185px */
  padding-left: 25px; /* This is a slight modification to add space between the columns. */
}

#sidebar h2
{
  margin-top: 0.75ex;
  color: #444444;
  text-align: center;
  background: #DDDDDD;
  font-size: 1.7ex;
}

#breadcrumb
{
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background: #EEEEEE url(/wgo/images/breadcrumb.png) 2ex 50% no-repeat;
  padding: 0 2ex 0 5ex;
  line-height: 20px;
  height: 20px;
}

#breadcrumb a
{
  text-decoration: none;
  color: #446699;
}
/*** End: Main section ***/

/*** Begin: Footer ***/
#footer /* This is just thrown together based on the requirments at http://live.gnome.org/GnomeWeb/ComponentSelection */
{
  background: #CCDDEE url(/wgo/images/logo_vertical.png) 1ex 50% no-repeat;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 2ex;
  clear: both;
  font-size: 1.6ex;
  text-align: center;
}

#portal-siteactions
{
  list-style: none;
}

#portal-siteactions li
{
  display: inline;
  border-left: 1px solid #AAAAAA;
}

#portal-siteactions li.first
{
  border-left: none;
}

#portal-siteactions li a
{
  text-decoration: none;
  color: #555555;
  margin: 0 1ex;
}

#portal-siteactions li a:hover
{
  color: #222222;
}

.portalUser
{
    border-left: none;
}

/*** End: Footer ***/

